/*
Declaration key words: let, var, const, function, class
*/
declaration {
	font-family: Consolas,"courier new";
	color: #fc6203;
	font-weight: 550;
}

/*
Consitional key words: if, else, switch, case
*/
conditionals {
	font-family: Consolas,"courier new";
	color: #ffdd57;
}

/*
Keywords: this, window, async, true, false, undefined
*/

keyword {
	font-family: Consolas,"courier new";
	color: #29ff62;
}

/*
Strings
*/
string {
	font-family: Consolas,"courier new";
	color: #f7ff80;
}

/*
Numbers
*/
number {
	font-family: Consolas,"courier new";
	color: #7729ff;
}

/*
Function calls of mouse functions
*/
call {
	font-family: Consolas,"courier new";
	color: #fc3af3;
	font-style: italic;
}

/*
Code block in webpage
*/
code {
	font-family: Consolas,"courier new";
	padding-top:3px;
	padding-bottom:3px;
	padding-right:8px;
	padding-left:8px;
	background: #575757;
	border-radius: 10px;
	color:#77f763;
}
